<header class="bg-dark text-white py-3">
    <nav class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="/certifications">Certifications</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="/blog/">Blog</a></li>
        </ul>
    </nav>
</header>